<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Item Management</title>
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
<script src="javascript/jquery-1.11.1.min.js"></script>
<script src="javascript/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1>Item Manage</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div>
			<form autocomplete="off" th:action="@{itemManagementSubmit}"
					method="post" class="form-horizontal"
					role="form">
				<label for="itemName">Item Name: </label>
				<input type="text" name="itemName" id="itemName" placeholder="Item Name" value="">
				<label class="validation-error" >Error</label>
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Item Name is already used. Please check the item name.</p>
				</div>
				<button class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left">Save</button>
			</form>
		</div>
		<div>
			<ul data-role="listview" data-inset="true" th:each="iO,start : ${itemObjs}">
			    <li><a href="#" th:text="*{iO.itemName}">Test Item</a></li>
			</ul>
		</div>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Jay Swaminarayan</h4>
	</div><!-- /footer -->
</div>
</body>
</html>