<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Table Management</title>
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
<script src="javascript/jquery-1.11.1.min.js"></script>
<script src="javascript/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1>Tables Manage</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div>
			<form autocomplete="off" th:action="@{tableManagementSubmit}"
					method="post" class="form-horizontal"
					role="form">
				<label for="tableName">Table Name: </label>
				<input type="text" name="tableName" id="tableName" placeholder="Table Name" value="">
				<label class="validation-error">Error</label>
				<button class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left">Save</button>
			</form>
		</div>
		<div>
			<ul data-role="listview" data-inset="true" th:each="tO,start : ${tableObjs}">
			    <li><a href="#" th:text="*{tO.tableName}">Test Table</a></li>
			</ul>
		</div>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Jay Swaminarayan</h4>
	</div><!-- /footer -->
</div>
</body>
</html>